%btn {
    min-width: 150px;
    padding: 10px 20px;
}

.my-container,
.header,
.footer {
    .btn-confirm {
        background-color: green;
        color: white;
        @extend %btn;
    }
}

.modal,
.table,
.menu {
    .button-group {
        .btn-cancel {
            background-color: red;
            color: white;
            @extend %btn;
        }
    }
}