@mixin error-box {
    color: red;
    background-color: white;
    border: 5px solid red;
}

.my-box {
    font-size: 18px;
    padding: 10px;
    @include error-box;
}

.my-box-2 {
    @include error-box;
}